<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{storeName}} Review
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="clickAdd()">
        <ion-icon name="add" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding id="page9">
  <ion-card id="page9-card23" *ngFor="let review of reviews | async" >
    {{$index}}
    <ion-list *ngIf="review.storeName == storeName">
      
      <ion-item color="none" id="page9-list-item43">
        <!--{{arrData[2].$value}}-->
        {{review.text}}
        <br>
        <ion-icon [name]="review.isHeart" item-right> </ion-icon>
         </ion-item>
      <ion-item color="none" id="page9-list-item41">
        
        <h4>
          <b> {{review.writer}} </b> 님이 작성하신 글입니다.
        </h4>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>