<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{storeName}}
    </ion-title>

  </ion-navbar>
</ion-header>
<ion-content padding id="page5" *ngFor="let info of infos | async">
<p>.</p>
<p>.</p>.<p>.</p>.<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
  <h3 *ngIf="info.storeName == storeName">
    {{info.storeMenu}}
  </h3>

  <button ion-button color="energized" on-click="goToPage9()">
    사람들의 생각 읽기
  </button>

</ion-content>